body {
    color: #323233;
    font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
    line-height: 1;
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased;
}

.card {margin-bottom: 1.5em;background: #ffffff;}
.card-body{padding: 0.6em;}

.form-group {margin-bottom: 1rem;}
.thumbnail {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    height: auto;
}
.thumbnail img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}



.border-circle {border-radius: 50%;}
.text-center{ text-align: center}
.text-right {text-align: right}

.border-none,.border-none:after {border: none!important;}
.mb-4{margin-bottom: 1.5rem !important;}
.mb-7{margin-bottom: 3rem !important;}



.van-nav-bar {
    height: 56px;
    line-height: 56px;
}
.van-nav-bar .van-icon {
    color: #969799;
    font-size: 24px;
    cursor: pointer;
}
.van-nav-bar .van-nav-bar__text {
    font-size: 17px;
    color: #969799;
}
.van-nav-bar .van-nav-bar__title {
    font-size: 17px;
    text-transform: capitalize;
}